/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
package-lock.json
tests/.DS_Store
storage/.DS_Store
.DS_Store
/public/images
/public/quotations
public/employee-image
public/workinstruction-instruction-document
public/completion-summary
public/quotation
public/result-image-pdf
public/service-report
public/work-order-result-image
public/work-order-signature-image
public/purchaseorder-po-from-client
public/invoice
public/receipt
public/supplier-po
public/purchaseorder-quotation
public/purchaseorder-supplier-po
public/workorder-completion-summary-pdf
public/purchaseorder-invoice
public/purchaseorder-receipt
public/workorder-result-image
public/workorder-signature-image
public/quotation-draft
public/subcontractor-po
